/* Yhteinen css-pohja */

body {
    background-image: url("../../Etusivukuva.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

div.container {
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    opacity: 0.9;
    margin-top: 20px;
    color: #000000;
    width: 70%;
    text-align: center;
    align-content: space-around;
}

.navbar {
    background-color: orange;
}

/* Tuomas Polvinen */

header {
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    width: 70%;
    background-color: #ffffff;
    opacity: 0.8;
    text-align: center;
}

footer {
    padding: 20px;
    margin: auto;
    width: 70%;
    background-color: #ffffff;
    opacity: 0.8;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
}

button {
    background-color: orange;
    opacity: 1;
    margin-top: 20px;
    margin-left: 20px;
    width: 130px;
}

.kysymys {
    font-weight: bold;
}

#kuusi {
    opacity: 1;
    background-image: url(../img/tunturi.jpg); /* Tunturikuva Pixabaysta */
    background-size: cover;
    min-height: 270px;
}

h2 {
    margin-top: 20px;
}

#uudestaan {
    width: 150px;
    height: 50px;
}

/* Jättää pienellä näytöllä ainoastaan nimen footeriin
    ja hävittää koristekuvan. */

@media only screen and (max-width: 768px) {
  .poes {
      display: none;
  }
  #kuusi {
      display: none;
  }
}

  