/* body{
    background-image: url("Web-projekti/maantieto/Etusivukuva.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} 
div.container {
    
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    opacity: 0.7;
    margin-top: 20px;
    color: #000000;
    width: 70%;
    text-align: center;
    align-content: space-around;

    float: center;
  }

  .navbar {
      background-color: orange;
  }

  .row {
    margin-bottom: 20px;
}

*/

/* Tuomas */

  header {
      padding: 20px;
      margin: auto;
      margin-top: 20px;
      width: 70%;
      background-color: #ffffff;
      opacity: 0.6;
      text-align: center;

  }

  footer {
      padding: 20px;
      margin: auto;
      width: 70%;
      background-color: #ffffff;
      opacity: 0.6;
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: right;
  }

  button {
      background-color: orange;
      opacity: 1;
      margin-top: 20px;
  }

  @media only screen and (max-width: 768px) {
      .poes {
        display: none;
      }
  }

  