/* Tuomas Polvinen */

  header {
      padding: 20px;
      margin: auto;
      margin-top: 20px;
      width: 70%;
      background-color: #ffffff;
      opacity: 0.6;
      text-align: center;

  }

  footer {
      padding: 20px;
      margin: auto;
      width: 70%;
      background-color: #ffffff;
      opacity: 0.6;
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: right;
  }

  button {
      background-color: orange;
      opacity: 1;
      margin-top: 20px;
  }

  @media only screen and (max-width: 768px) {
      .poes {
        display: none;
      }
  }

  